.wrapper {
  animation: appear 1s;
  height: 100vh;
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
