.wrapper {
  height: 100vh;
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
}

.wrapper--appear {
  animation: appear 1s;
}

.wrapper--move {
  animation: move 1s;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes move {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0);
  }
}
