.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 16px;
  text-align: center;
}

.container__logo {
  max-width: 200px;
  width: 100%;
}

.container__title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 16px;
}

.container__subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 8px;
}

.container__button {
  background: var(--blue-color);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 8px 24px var(--blue-shadow-color);
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 700;
  height: 48px;
  margin-top: 40px;
  padding: 8px 16px;
  transition: opacity 300ms;
  max-width: 200px;
  width: 100%;
}

.container__button:hover {
  opacity: 0.9;
}
